@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Oswald:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html, body{
  margin: 0%;
  height: 100%;
  width: 100%;
  padding: 0%;
}

.montserrat-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-optical-sizing: auto;
}

.areaPerfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #73a0d3;
}
  .areaPerfil h1 {
    margin: 1vw;
  }

.fotoAluno {
  display: flex;
  align-items: center;
  width: 20;
  height: 1%;
  margin-bottom: 2vw;
  margin-top: 0.5vw;  
}

.fotoAluno img {
  border-radius: 1.5vw; 
  border: 1px solid black; 
}


.dadosAluno {
  margin-top: 1vw;
  flex-direction: column;
  height: 90%;
  display: flex;
  align-items: center;
  background-color: #73a0d3;
}

.dadosAluno h2 {
  margin: 0;
  font-size: 24px;
}

.dadosAluno p {
  margin: 5px 0;
  font-size: 18px;
}

.container {
  background-color: #445C77;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F5FBEF;
  font-family: "Montserrat", serif;

}


/* Container principal
perfil-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9;
}

/* Título */
/* .perfil-title {
  text-align: center;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.perfil-title h1 {
  margin: 0; */
/* } */

/* Detalhes do perfil */
/* .perfil-details {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
} */

/* Foto do aluno */
/* .photo img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #ddd;
} */

/* Detalhes do aluno */
/* .details {
  flex-grow: 1;
  margin-left: 20px;
} */

/* .details p {
  font-size: 16px;
  margin: 10px 0;
} */

/* .details strong {
  color: #333;
}  */

