* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }

  hr {
    margin-top: 10px;

  }
  
  body {
    background-color: #73A0D3;
    padding-bottom: 80px;
  }

  .tabela-rotina table {
    border-spacing: 0;
    border: 2px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}



  #cor-sub {
    color: #f5fbef;
    font-size: 25px;
  }

  #cor-tit {
    color: #f5fbef;
    font-size: 30px;
  }

.titulo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 300px;
  margin: 20px auto;
  align-items: center;
}

.dropdown-label {
  font-size: 18px;
  color: #333;
  font-weight: 500;
}

.dropdown-select {
  width: 300px;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.dropdown-select:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  outline: none;
}

.dropdown-info {
  font-size: 25px;
  color: #f9f9f9;
  margin-top: 8px;
}


.subtitulo {
  display: flex;
  justify-content: center;
  margin-top: 20px;


}

table {
  width: 70%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #3f3f3f;
  color: #f5fbef;
}
th, td {
  border: 1px solid #f5fbef;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #445c77;
}
td {
  background-color: #4978ae;
}

input[type="radio"] {
  width: 25px;
  height: 25px;
}

.radio-evacuacao {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  color: #f5fbef;
}

.radio-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-option input {
  margin-bottom: 5px;
}

.observacoes {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.observacoes textarea {
  width: 100%;
  max-width: 600px;
  height: 100px;
  padding: 15px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  resize: vertical;
  transition: all 0.3s ease-in-out;
  background-color: #f9f9f9;
  color: #333;
}

.observacoes textarea:focus {
  outline: none;
  border-color: #445c77;
  box-shadow: 0 0 10px rgba(92, 141, 246, 0.5);
  background-color: #fff;
}

.enviarButao {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#enviar {
  display: block;
  margin: 30px;
  width: 180px;
  height: 60px;
  background-color: #E4572E;
  color: #f5fbef;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}

#enviar:hover {
  height: 75px;
  background-color: #D44A26;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(-3px); 
}


@media screen and (max-width: 600px) {

  .radio-evacuacao {
    font-size: 12px;
  }

  #observacoes {
    width: 300px;
  }

}