@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Oswald:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body{
  height: 0;
}

.montserrat-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-optical-sizing: auto;
}

.corpoLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.tituloLogin {
  background-color: #73a0d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 30vh;
  color: #f5fbef;
  font-size: x-large;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin: auto;
}
.areaLogin {
  background-color: #445c77;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f5fbef;
  font-family: "Montserrat", serif;
  justify-content: space-around;
}

.areasDeRegistro {
  width: 70vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
}

.areasDeRegistro input{
  outline: none;
}

.senhaInput {
  margin: auto;
  display: flex;
  width: 100%;
  height: 25%;
  background-color: #f5fbef;
  border-radius: 20px;
  font-size: larger;
}

.senhaInput input {
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: larger;
}

.senhaInput button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  margin-right: 1%;
}

#senha{
 height: 95%; 
 width: 100%;
}

.areasDeRegistro input {
  margin: auto;
  height: 25%;
  width: 100%;
  background-color: #f5fbef;
  border-radius: 20px;
  border-color: transparent;
  font-size: larger;
}

.areasDeRegistro label {
  font-size: x-large;
}

.logo {
  height: 70%;
}

.acessoAoSite {
  background-color: #e4572e;
  color: #f5fbef;
  border: none;
  border-radius: 20px;
  height: 8vh;
  width: 40%;
  font-size: larger;
}

.linkRedirecionamento {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  width: fit-content;
  font-size: medium;
  color: #f5fbef;
}

