* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #73a0d3;
  
}

/*posição*/
.navbar {
  background-color: #f5fbef;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.corpoHome{
  padding-bottom: 10vh;
}

/*estilização*/
.navbar a {
  color: #333;
  text-decoration: none;
  font-size: 22px;
  margin: 0 40px;
}

.navbar a.active {
  color: #4978ae;
}
.icon-link {
  text-decoration: none;
  color: #333;
  padding: 10px;
  transition: background 0.3s ease;
  border-radius: 8px;
}


.icon-link.active {
  color: #4978ae; /* Muda a cor do texto */
}
/*ícones*/
#homeAzul,
#turmas,
#perfil,
#mensagens,
#config {
  width: 40px;
  height: 40px;
}

/*ajuste navbar meio*/
.nav-item {
  display: flex;
  justify-content: center;
  height: 75px;
  align-items: center;
}

/*ajuste ícones coluna*/
.icons-abaixo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*notificaçao*/
.notifacaçao {
  background-color: #445c77;
  height: 250px;
}

#avisos {
  color: #f5fbef;
  margin-left: 5vw;
  padding-top: 2vh;
}

#data {
  font-size: 12px;
  color: #a5a5a5;
}

#aviso-msg {
  color: #f5fbef;
  margin-top: 20px;
  margin-left: 10px;
}

#logo {
  width: 110px;
  height: 130px;
  margin-top: 20px;
  margin-right: 30px;
}

/*alinha imagem(notificaçao)*/
.alinhamento-noti {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f5fbef;
  margin-left: 50px;
}

/*alinha letras*/
.letras-coluna {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*chat-inicial*/
.chat-inicial {
  background-color: #4978ae;
  height: 130px;
}

#perfil-chat {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

/*alinha imagem(chat)*/
.alinhamento-chat {
  display: flex;
  align-items: center;
}

/*alinha letras*/
.letras-coluna2 {
  display: flex;
  flex-direction: column;
}

#info-chat {
  color: #f5fbef;
  font-size: 20px;
}

/*rotina*/
.rotina-inicial {
  background-color: #5b97db;
  height: 130px;
}

#letras-coluna3 {
  color: #f5fbef;
  font-size: 40px;
}

#rotina-style {
  text-decoration: none;
}

#rotina-style {
  text-decoration: none;
}

#rotina {
  width: 110px;
  height: 100px;
  margin-top: 10px;
}

/*alinha imagem(rotina)*/
.alinhamento-rotina {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*calendario-alinhamento*/
.container-calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.calendario-inicial {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 20px;
  background-color: #F5FBEF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
z
.cabeçalho-calendario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.mesAno {
  text-align: center;
  font-weight: 600;
  width: 300px;
}

.cabeçalho-calendario button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: #F5FBEF;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.dias {
  display: grid;
  grid-template-columns: repeat(7,1fr);
}

.dia {
  text-align: center;
  padding: 5px;
  color: #999FA6;
  font-weight: 500;
}

.datas {
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7 - 2px));
  gap: 2px;
}


.date {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: 0.4s;
}

.date:hover {
  background: #4978AE;
  color: #F5FBEF;
}

.date:active {
  
  background-color: #445C77;
}

.date.inactive:hover {
  color: #F5FBEF;
  background: #999FA6;
}

.date.inactive {
  color: #737679;
}

/*tablet*/
@media screen and (max-width: 800px) {
  .navbar a {
    font-size: 20px;
    margin: 0 22px;
  }

  .notifacaçao {
    height: 240px;
  }

  .chat-inicial {
    height: 120px;
  }

  .rotina-inicial {
    height: 120px;
  }

  #logo {
    width: 100px;
    height: 120px;
  }

  #perfil-chat {
    width: 70px;
    height: 70px;
  }

  #rotina {
    width: 100px;
    height: 90px;
  }

  .calendario-inicial {
    width: 550px;
  }

  .calendario-inicial {
    width: 550px;
  }

  #homeAzul,
  #turmas,
  #perfil,
  #mensagens,
  #config {
    width: 45px;
    height: 45px;
  }
}

/*mobile*/
@media screen and (max-width: 600px) {
  .navbar a {
    font-size: 11px;
    margin: 0 12px;
  }

  .notifacaçao {
    height: 220px;
  }

  .chat-inicial {
    height: 100px;
  }

  .rotina-inicial {
    height: 100px;
  }

  #logo {
    width: 80px;
    height: 100px;
  }

  #perfil-chat {
    width: 50px;
    height: 50px;
  }

  #rotina {
    width: 80px;
    height: 70px;
  }

  #aviso-msg {
    font-size: 12px;
  }

  #info-chat {
    font-size: 15px;
  }

  #letras-coluna3 {
    font-size: 25px;
  }

  .calendario-inicial {
    width: 403px;
  }

  .calendario-inicial {
    width: 333px;
  }

  .datas {
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7 - 2px));
    gap: 2px;
  }
  
  

  #homeAzul,
  #turmas,
  #perfil,
  #mensagens,
  #config {
    width: 30px;
    height: 30px;
  }
}

/*calendario-alinhamento*/
.container-calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.calendario-inicial {
  width: 380px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f5fbef;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cabeçalho-calendario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.cabeçalho-calendario button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: #f5fbef;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.dia {
  text-align: center;
  padding: 5px;
  color: #999fa6;
  font-weight: 500;
}