.areasDeRegistroUsuario input {
  display: flex;
}

.areasDeRegistroUsuario {
  background-color: #00000025;
  padding-left: 7vw;
  padding-right: 7vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.usuarioPermissao {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.usuarioPermissao label {
  display: flex;
  color: #f5fbef;
  margin-bottom: 3vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.corpoCriarUsuario {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.formularios {
  background-color: (0, 0, 0, 0 0.5);
}

.formularios h2 {
  color: #f5fbef;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10%;
  justify-content: center;
  display: flex;
}

.formularios input[type="text"] {
  margin-bottom: 15%;
  width: 100%;
  padding: 10px;
  height: 5vh;
  background-color: #f5fbef;
  border-radius: 20px;
  border-color: transparent;
  font-size: larger;
}

.formularios input[type="password"] {
  margin-bottom: 15%;
  width: 100%;
  padding: 10px;
  height: 5vh;
  background-color: #f5fbef;
  border-radius: 20px;
  border-color: transparent;
  font-size: larger;
}

.tituloCriarUsuario {
  margin-top: 2vh;
}

.confirmaçãoECancelar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2vh;
}

.confirmaçãoECancelar button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5fbef;
  border: none;
  border-radius: 20px;
  height: 8vh;
  width: 40%;
  font-size: larger;
}

.confirmarCadastro{
  background-color: #2ee45f;
}

.cancelarCadastro{
  background-color: #e4572e;
}